---
- name: Fedora 43 Provisioning
  hosts: localhost
  become: true

  pre_tasks:
    - name: Bootstrap Ansible Collections
      ansible.builtin.command: ansible-galaxy collection install community.general
      become: false
      changed_when: false

  tasks:
    # --- Module: System (system.yml) ---
    - name: "Module: System Packages"
      ansible.builtin.dnf5:
        name:
          - fastfetch
          - fish
        state: present

    # --- Module: Development (dev.yml + Zen 5 Toolchain) ---
    - name: "Module: Development Environment"
      ansible.builtin.dnf5:
        name:
          - "@development-tools"
          - "@c-development"
          - distrobox
          - yadm
        state: present

    # --- Module: Gaming (gaming.yml) ---
    - name: "Module: Gaming Tools"
      ansible.builtin.dnf5:
        name:
          - steam
          - goverlay
          - mangohud
          - vkBasalt
        state: present

    # --- Module: COPR - Topgrade (copr-topgrade.yml) ---
    - name: "Module: COPR - Topgrade"
      block:
        - community.general.copr:
            name: lilay/topgrade
            state: enabled
        - ansible.builtin.dnf5:
            name:
              - topgrade
            state: present

    # --- Module: COPR - CachyOS Addons (copr-cachyos.yml) ---
    - name: "Module: COPR - CachyOS Addons"
      block:
        - community.general.copr:
            name: bieszczaders/kernel-cachyos-addons
            state: enabled
        - ansible.builtin.dnf5:
            name:
              - scx-scheds
              - scx-tools
              - scx-manager
            state: present

    # --- Module: COPR - xariann Tools (copr-xariann-tools.yml) ---
    - name: "Module: COPR - xariann Tools"
      block:
        - community.general.copr:
            name: xariann/tools
            state: enabled
        - ansible.builtin.dnf5:
            name:
              - nautilus-copy-path
              - boot-windows
            state: present

    # --- Module: Flatpaks (flatpaks.yml) ---
    - name: "Module: Flatpaks"
      block:
        - community.general.flatpak_remote:
            name: flathub
            state: present
            flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
        - community.general.flatpak:
            name:
              - com.mattjakeman.ExtensionManager
              - io.github.flattool.Warehouse
              - io.github.plrigaux.sysd-manager
              - io.github.tobagin.keysmith
              - org.localsend.localsend_app
              - page.tesk.Refine
            state: present
            remote: flathub

    # --- Module: Systemd Services (bluwhale.yml) ---
    - name: "Module: Systemd Services"
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: true
        state: started
      loop:
        - podman.socket
        - scx_loader.service
